.header-nav-menu{
    display: none;
}

.header-nav-menu__title {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 16px 16px;
}

.header-nav-menu__close {
    display: flex;
    width: 14px;
    height: 14px;
    background: url(../../images/close.svg) center no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 26px;
    padding: 0;
    cursor: pointer;
}
.header-nav-menu__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 32px 0 24px; */
}

.header-nav-menu__link {
    border-bottom: none;
}
.header-nav-menu__button {
    align-self: center;
    margin-top: 40px;
    padding: 16px 100px;
}