.header-nav {
    max-width: calc(100% - 2 * 104px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 104px;
    align-items: center;
}

.header-nav__title {
    font-family: 'Roboto Slab';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header-nav__menu {
    display: none;
}

.header-nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav__link {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    text-decoration: none;
    box-sizing: border-box;
}

.header-nav__button {
    border: 1px solid #fff;
    border-radius: 100px;
    background: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 12px 60px;
}

@media screen and (max-width: 896px) {
    .header-nav {
        max-width: calc(100% - 2 * 40px);
        padding: 0 40px;
        height: 66px;
    }

    .header-nav__link {
        font-size: 16px;
        margin-right: 16px;
    }

    .header-nav__button {
        font-size: 16px;
        padding: 10px 50px;
    }
}

@media screen and (max-width: 585px) {
    .header-nav {
        max-width: calc(100% - 2 * 16px);
        padding: 0 16px;
    }

    .header-nav {
        height: 56px;
    }
    .header-nav__menu {
        display: block;
    }
    .header-nav__items {
        display: none;
    }
}
