.header__overlay {
    background-image: url("../../images/header_background.png");
    background-color: #1A1B22;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    box-sizing: border-box;
    padding: 0;
}
