.header {
    min-height: 576px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}